body{
    font-family: Arial, sans-serif;
    background:#6e6767;
    padding:20px;
  }
  h1{
    color: #ddd;
  }
  form{
    margin-bottom:10px;
  }

  input{
    padding:6px 10px;
    margin-right:6px;
    border:1px solid #34448b;
    border-radius:6px;
    outline:none;
  }

  input:focus{
    border-color:#000000;
  }

  button{
    padding:7px 14px;
    border:none;
    border-radius:6px;
    background:#4f46e5;
    color:white;
    cursor:pointer;
    margin-bottom:15px;
  }

  button:hover{
    background:#4338ca;
  }

  #tree{
    padding:10px;
    background:#ffffff;
    border-radius:10px;
    border:1px solid #ddd;
    max-width:600px;
  }
  
  .card{
    background:#e0f2fe;
    border:1px solid #0284c7;
    border-radius:8px;
    padding:6px 10px;
    margin:6px 0;
    font-weight:600;
    position:relative;
  }

  .child.card{
    background:#fef3c7;
    border-color:#f59e0b;
    margin-left:25px;
  }

  /* chiziqlar (tree effekt) */
  .child.card::before{
    content:"";
    position:absolute;
    left:-15px;
    top:14px;
    width:15px;
    height:1px;
    background:#555;
  }
  .clear-btn{
  float:right;
  background:#a20000;
  border:none;
  color:white;
  width:20px;
  height:20px;
  cursor:pointer;
  font-size:15px;
}

.clear-btn:hover{
  background:#c20000;
}